*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor1{
    margin: 50px;
    padding: 10px;
    width: 400px;
    text-align: center;
    background-color: #fff;
    border: 5px solid black;
}
fieldset{
    border: none;
    margin: 20px;
}
.usu{
    margin-bottom: 20px;
}
main{
    display: flex;
    justify-content: center;
}



button{
    margin: 20px;
    background: rgb(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    color: #fff;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 18px;
}

button:hover{
    background: black;
}

.regis{
    margin: 10px;
}