*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-main{
    background-color: black;
    min-height: 100vh;
}

.videoloop{
    margin-left: 0px;
}
.contenedor1{
    margin: 50px;
    padding: 10px;
    height: 450px;
    width: 400px;
    text-align: center;
    background-color: #05050544;
    color: white;
    border: 1px solid #22cce2;
    padding-top: 35px;
}

.fldLogin{
    border: none;
    margin: 20px;
}

.fldLogin input{
    width: 300px;
    height: 35px;
    padding: 5px;
    border: 1px solid #22cce2;
    outline: none;
}

.usu{
    margin-bottom: 20px;
}


.login-main{
    display: flex;
    justify-content: center;
    font-size: 22px;
}



.btnLogin{
    margin: 20px;
    background:  #22cce2;
    border: none;
    padding: 7px 16px;
    color: #fff;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 18px;
}

.btnLogin:hover{
    background: rgb(47, 145, 224);
}

.regis{
    margin: 10px;
}